{{- include "pinglib.env-vars" (list . "global") -}}

{{- define "global.env-vars" -}}
{{- $top := index . 0 -}}
{{- $v := index . 1 -}}

data:
  {{- if $top.Values.global.masterPassword.enabled }}
  PING_IDENTITY_PASSWORD: {{ include "pinglib.gen-master-password" $top | quote }}
  {{- end }}
  {{ include "global.private.host.port" (list $top $v "PA_ADMIN" "pingaccess-admin") }}
  {{ include "global.private.host.port" (list $top $v "PA_ENGINE" "pingaccess-engine") }}
  {{ include "global.private.host.port" (list $top $v "PAZ_ENGINE" "pingauthorize") }}
  {{ include "global.private.host.port" (list $top $v "PAZP_ENGINE" "pingauthorizepap") }}
  {{ include "global.private.host.port" (list $top $v "PD_CONSOLE" "pingdataconsole") }}
  {{ include "global.private.host.port" (list $top $v "PDS_ENGINE" "pingdatasync") }}
  {{ include "global.private.host.port" (list $top $v "PDG_ENGINE" "pingdatagovernance") }}
  {{ include "global.private.host.port" (list $top $v "PDGP_ENGINE" "pingdatagovernancepap") }}
  {{ include "global.private.host.port" (list $top $v "PD_DELEGATOR" "pingdelegator") }}
  {{ include "global.private.host.port" (list $top $v "PD_ENGINE" "pingdirectory") }}
  {{ include "global.private.host.port" (list $top $v "PDP_ENGINE" "pingdirectoryproxy") }}
  {{ include "global.private.host.port" (list $top $v "PF_ENGINE" "pingfederate-engine") }}
  {{ include "global.private.host.port" (list $top $v "PF_ADMIN" "pingfederate-admin") }}
  {{ include "global.private.host.port" (list $top $v "PI_ASE" "pingintelligence") }}

  {{ include "global.public.host.port" (list $top $v "PA_ADMIN" "pingaccess-admin") }}
  {{ include "global.public.host.port" (list $top $v "PA_ENGINE" "pingaccess-engine") }}
  {{ include "global.public.host.port" (list $top $v "PAZ_ENGINE" "pingauthorize") }}
  {{ include "global.public.host.port" (list $top $v "PAZP_ENGINE" "pingauthorizepap") }}
  {{ include "global.public.host.port" (list $top $v "PD_CONSOLE" "pingdataconsole") }}
  {{ include "global.public.host.port" (list $top $v "PDS_ENGINE" "pingdatasync") }}
  {{ include "global.public.host.port" (list $top $v "PDG_ENGINE" "pingdatagovernance") }}
  {{ include "global.public.host.port" (list $top $v "PDGP_ENGINE" "pingdatagovernancepap") }}
  {{ include "global.public.host.port" (list $top $v "PD_DELEGATOR" "pingdelegator") }}
  {{ include "global.public.host.port" (list $top $v "PD_ENGINE" "pingdirectory") }}
  {{ include "global.public.host.port" (list $top $v "PDP_ENGINE" "pingdirectoryproxy") }}
  {{ include "global.public.host.port" (list $top $v "PF_ENGINE" "pingfederate-engine") }}
  {{ include "global.public.host.port" (list $top $v "PF_ADMIN" "pingfederate-admin") }}
  {{ include "global.public.host.port" (list $top $v "PI_ASE" "pingintelligence") }}
{{- end -}}
