################################################
#                  SMOKE TESTS
################################################

intel.t.pingaccess:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product pingaccess
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

arm.t.pingaccess:
  stage: test.smoke
  image: $RUNNER_IMAGE_AARCH64
  tags:
    - platform=aarch64
  script:
    - ci_scripts/run_helm_smoke.sh --product pingaccess
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

intel.t.pingauthorize:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product pingauthorize
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

arm.t.pingauthorize:
  stage: test.smoke
  image: $RUNNER_IMAGE_AARCH64
  tags:
    - platform=aarch64
  script:
    - ci_scripts/run_helm_smoke.sh --product pingauthorize
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

intel.t.pingauthorizepap:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product pingauthorizepap
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

arm.t.pingauthorizepap:
  stage: test.smoke
  image: $RUNNER_IMAGE_AARCH64
  tags:
    - platform=aarch64
  script:
    - ci_scripts/run_helm_smoke.sh --product pingauthorizepap
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

intel.t.pingdataconsole:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product pingdataconsole
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

arm.t.pingdataconsole:
  stage: test.smoke
  image: $RUNNER_IMAGE_AARCH64
  tags:
    - platform=aarch64
  script:
    - ci_scripts/run_helm_smoke.sh --product pingdataconsole
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

intel.t.pingdatasync:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product pingdatasync
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

arm.t.pingdatasync:
  stage: test.smoke
  image: $RUNNER_IMAGE_AARCH64
  tags:
    - platform=aarch64
  script:
    - ci_scripts/run_helm_smoke.sh --product pingdatasync
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

intel.t.pingdelegator:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product pingdelegator
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

arm.t.pingdelegator:
  stage: test.smoke
  image: $RUNNER_IMAGE_AARCH64
  tags:
    - platform=aarch64
  script:
    - ci_scripts/run_helm_smoke.sh --product pingdelegator
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

intel.t.pingdirectory:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product pingdirectory
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

arm.t.pingdirectory:
  stage: test.smoke
  image: $RUNNER_IMAGE_AARCH64
  tags:
    - platform=aarch64
  script:
    - ci_scripts/run_helm_smoke.sh --product pingdirectory
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

intel.t.pingdirectoryproxy:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product pingdirectoryproxy
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

arm.t.pingdirectoryproxy:
  stage: test.smoke
  image: $RUNNER_IMAGE_AARCH64
  tags:
    - platform=aarch64
  script:
    - ci_scripts/run_helm_smoke.sh --product pingdirectoryproxy
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

intel.t.pingfederate:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product pingfederate
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

arm.t.pingfederate:
  stage: test.smoke
  image: $RUNNER_IMAGE_AARCH64
  tags:
    - platform=aarch64
  script:
    - ci_scripts/run_helm_smoke.sh --product pingfederate
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

intel.t.pingtoolkit:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product pingtoolkit
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

arm.t.pingtoolkit:
  stage: test.smoke
  image: $RUNNER_IMAGE_AARCH64
  tags:
    - platform=aarch64
  script:
    - ci_scripts/run_helm_smoke.sh --product pingtoolkit
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

intel.t.pingcentral:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product pingcentral
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

intel.t.pingintelligence:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product pingintelligence
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

intel.t.ldap-sdk-tools:
  stage: test.smoke
  script:
    - ci_scripts/run_helm_smoke.sh --product ldap-sdk-tools
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"

arm.t.ldap-sdk-tools:
  stage: test.smoke
  image: $RUNNER_IMAGE_AARCH64
  tags:
    - platform=aarch64
  script:
    - ci_scripts/run_helm_smoke.sh --product ldap-sdk-tools
  retry: 2
  except:
    variables:
      - $CI_COMMIT_TAG
      - $SKIP_TESTS == "true"
      - $RELEASE == "true"
